
@{
    ViewBag.Title = "AlreadyInTournament";
}

<h1>Oups!</h1>

<p>Il semblerait que vous soyez déjà un participant dans une équipe de ce tournois. Vous ne pouvez participer qu'une seule fois dans un tournois.</p>

@Html.ActionLink("Retour à l'index des tournois", "Index")

