
@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.TournoiRes.DejaParticipant;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Oups</h1>

<p>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.DejaParticipantTexte</p>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.RetourIndexTournois, "Index")

