
@{
    ViewBag.Title = "BadRoleError";
}

<h2>BadRoleError</h2>

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Vous n'êtes pas le un utilisateur avec le bon rôle pour faire cet opération</h2>