
@{
    ViewBag.Title = @ProjetSessionWebServ2.GlobalRessources.HomeRes.BadRoleError;
}

<h2>Oups!</h2>

<h2 class="text-danger">@ProjetSessionWebServ2.GlobalRessources.HomeRes.AutorisationRequise</h2>