@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.HomeRes.Error;
}

<h1 class="text-danger">@ProjetSessionWebServ2.GlobalRessources.HomeRes.Error</h1>
<h2 class="text-danger">@ProjetSessionWebServ2.GlobalRessources.HomeRes.ErrorOccured</h2>

