@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.HomeRes.Locked;
}

<hgroup>
    <h1 class="text-danger">@ProjetSessionWebServ2.GlobalRessources.HomeRes.Locked</h1>
    <h2 class="text-danger">@ProjetSessionWebServ2.GlobalRessources.HomeRes.LockedTryAgain</h2>
</hgroup>
