@model IEnumerable<ProjetSessionWebServ2.Models.Spectacle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("~/Views/Congres/ListeEvenementSpectacle.cshtml", (List<ProjetSessionWebServ2.Models.Spectacle>)Model)
